[Unit]
Description=Cipher Flatpak Service
DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --appstream
ExecStart=/usr/bin/flatpak update -y
ExecStart=/usr/bin/flatpak uninstall --unused -y
StandardOutput=null
StandardError=null

[Install]
WantedBy=sysinit.target
