[Unit]
Description=Remounts All World Writable Partitions Securely
DefaultDependencies=no
Before=sysinit.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/mount -o remount,nosuid,noexec,nodev /dev/shm
ExecStart=/bin/mount -o remount,nosuid,noexec,nodev /tmp
ExecStart=/bin/mount -o remount,nosuid,exec,nodev /var/lib/flatpak
ExecStart=/usr/bin/chmod 644 /etc/dconf/db/distro /etc/dconf/db/gdm /etc/dconf/db/ibus /etc/dconf/db/local /etc/dconf/db/site
ExecStart=/usr/bin/chcon -u system_u /etc/dconf/db/distro /etc/dconf/db/gdm /etc/dconf/db/ibus /etc/dconf/db/local /etc/dconf/db/site
ExecStart=/usr/sbin/restorecon -Rv /etc/dconf/db/distro /etc/dconf/db/gdm /etc/dconf/db/ibus /etc/dconf/db/local /etc/dconf/db/site
StandardOutput=null
StandardError=null

[Install]
WantedBy=sysinit.target
