[Unit]
Description=cipher user maintenance
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --appstream
ExecStart=/usr/bin/flatpak update -y
ExecStart=/usr/bin/flatpak uninstall --unused -y
ExecStart=/usr/bin/flatpak uninstall --delete-data -y
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
