polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.Flatpak.app-install" ||
         action.id == "org.freedesktop.Flatpak.app-uninstall" ||
         action.id == "org.freedesktop.Flatpak.configure" ||
         action.id == "org.freedesktop.Flatpak.configure-remote" ||
         action.id == "org.freedesktop.Flatpak.install-bundle" ||
         action.id == "org.freedesktop.Flatpak.metadata-update" ||
         action.id == "org.freedesktop.Flatpak.modify-repo" ||
         action.id == "org.freedesktop.Flatpak.runtime-install" ||
         action.id == "org.freedesktop.Flatpak.runtime-uninstall" ||
         action.id == "org.freedesktop.Flatpak.runtime-update" ||
         action.id == "org.freedesktop.Flatpak.update-remote" ||
         action.id == "org.freedesktop.Flatpak.appstream-update" ||
         action.id == "io.systemd.mount-file-system.mount-image" ||
         action.id == "org.freedesktop.accounts.user-administration" ||
         action.id == "org.freedesktop.NetworkManager.settings.modify.system" ||
         action.id == "org.projectatomic.rpmostree1.cleanup") &&
         subject.active == true && subject.local == true &&
         subject.isInGroup("wheel")) {
         return polkit.Result.AUTH_SELF;
    }
});
